<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="basicapplication1.termapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EnrollActivity"/>
        <activity android:name=".ListActivity"/>
        <activity android:name=".MypageActivity"/>
        <activity android:name=".PostActivity"/>
        <activity android:name=".SignupActivity"/>
        <activity android:name=".MainActivity">
            <!--액티비티 추가 -->
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            <!--메인액티비티-->
        </activity>
    </application>

</manifest>